/*This is a comment */
body {
    background-image: url(images/cork-board.png);
    background-repeat: repeat;
    color: darkslateblue;
    font-family: 'orbitron', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: rgb(197, 153, 123);
}
.banner {
    background-image: url(images/banner.png);
    background-size: cover;
    background-position: center;
    padding: 300px;
    margin-bottom: 20px;

}
h1 {
    color: rgb(0, 0, 0);
    font-family: 'orbitron', cursive;
    font-size: 100px;
    font-weight: bolder;
    line-height: 1;
    text-decoration: underline;
    margin-top: -150px;    
}
h2 {
    color: rgb(0, 0, 0);
    font-family: 'orbitron', serif;
    font-size: 25px;
    line-height: 1;
    margin-top: -40px;
}
.abouttheauthor {
    font-family: 'arial', georgia, serif;
    font-size: 20px;
    color: rgb(8, 6, 24);
    margin: 20px;
    padding: 10px;
    border: 2px solid darkslateblue;
    background-color: rgb(245, 138, 197);
    
}
.abouttheauthor h3 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.favouriteplaces {
    font-family: 'arial', georgia, serif;
    font-size: 16px;
    color: rgb(12, 7, 46);
    text-align: left;
    max-width: 600px;
    margin-bottom: 90px;
    margin: 20px;
    padding: 10px;
    border: 2px solid darkslateblue;
    background-color: rgb(0, 230, 88);
}

.favouriteplaces h4 {
    font-family: 'orbitron', georgia, serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 900;
    text-align: left;  
}
.dayinthelife {
    font-family: 'arial', georgia, serif;
    font-size: 16px;
    color: rgb(12, 7, 46);
    text-align: left;
    max-width: 600px;
    margin-bottom: 90px;
    margin: 20px;
    padding: 10px;
    border: 2px solid darkslateblue;
    background-color: rgb(221, 240, 46);
    display: grid;
}
.dayinthelife h4 {
    font-family: 'orbitron', georgia, serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 900;
    text-align: left;  
}

.footer {
    font-family: 'orbitron', georgia, serif;
    font-size: 12px;
    color: rgb(241, 171, 218);
    text-align: center;
    font-style: bold;
    margin: 20px;
    padding: 1 px;
    border: 2px solid rgb(250, 200, 235);
    background-color: rgb(59, 46, 240);
   
}
a {
    color: rgb(255, 0, 149);
    text-decoration: none;
}
a:hover {
    color: rgb(255, 238, 0);
    text-decoration: underline;
}
a:active {
    color: rgb(255, 160, 18);
    text-decoration: none;
}
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:focus {
    color: rgb(0, 255, 0);
    text-decoration: none;
}